main{
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main__container{
    padding: 20px 35px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px 0;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

@media only screen and (max-width: 855px){
    .main__cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }

    .charts__right__cards{
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 30px;
    }
}